<h1>Company Info</h1>
<ul>
  {{#each model as |company| }}
  <li>Company Name: {{company.name}} Company Activation Date: {{company.activation_date}} Phone: {{company.phone}} CA Status: {{company.ca_status}} <button {{action 'toggleCaStatus' company}}>Toggle CA Status</button></li>
  {{/each}}
</ul>
